
@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Gracias por ingresar su pregunta.</h2>